<nav class="navbar navbar-expand-md main">
  <!-- Brand -->
  <div class="navbar-header">
      <a class="navbar-brand brand" href="#">
          <img src="assets/images/logo.jpg" width="50" height="48" class="rounded">
          <span class="text-white">
              <strong class="ml-2">Match Maker</strong>
          </span>
        </a>
  </div>

  <!-- Navbar links -->
  <div class="navbar">
      
      <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" routerLink='/home'>Home</a></li>
          <li class="nav-item"><a class="nav-link" *ngIf="this.profileService.token" routerLink='/profiles'>Profiles</a></li>
          <li class="nav-item"><a class="nav-link" *ngIf="this.profileService.token" routerLink='/plans'>Plans</a></li>
          <li class="nav-item"><a class="nav-link" *ngIf="this.profileService.token" routerLink='/coupons'>Coupons</a></li>
          <li class="nav-item"><a class="nav-link" *ngIf="this.profileService.token" routerLink='/payments'>Payments</a></li>
          
          <li class="nav-item"><a class="nav-link" routerLink='/auth' *ngIf="!this.profileService.token">Sign In</a></li>

          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="this.profileService.token">My Profile</a>
              
          <div class="dropdown-menu dropdown-menu-right" *ngIf="this.profileService.token" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item text-dark"  data-toggle="collapse" data-target=".navbar-collapse.show" routerLink='/user-profiles'>View My Profiles</a>
              <a class="dropdown-item text-dark"  data-toggle="collapse" data-target=".navbar-collapse.show" routerLink='/feedbacks'>Feedbacks</a>
              <a class="dropdown-item text-dark" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="signout()">Log Out</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item dropdown-toggle text-dark pt-0 pb-0" id="settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
              <div class="dropdown-menu" aria-labelledby="settings">
                  <a class="dropdown-item text-dark" data-toggle="collapse" data-target=".navbar-collapse.show">My Account</a>
                  <a class="dropdown-item text-dark" data-target="#delete-modal" data-toggle="modal">Delete Profile</a>
              </div>
          </div>
      </ul>

  </div>
</nav>
