<section class="personal">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <fieldset class="border-custom card rounded mt-5">
          <h2 class="text-center card-header text-white">Personal details</h2>
          <div class="profile col-4 mx-auto mb-1 mt-3">
            <div class="carousel slide" data-ride="carousel" id="slider">
              <ol class="carousel-indicators">
                <li data-target="#slider" data-slide-to="0" class="active" *ngIf="profile.img_data_1"></li>
                <li data-target="#slider" data-slide-to="1" *ngIf="profile.img_data_2"></li>
                <li data-target="#slider" data-slide-to="2" *ngIf="profile.img_data_3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active" *ngIf="profile.img_data_1; else elseImg">
                  <img src={{profile.img_data_1}} class="card card-img-top rounded img-fluid" alt="No images available">
                  <div class="carousel-caption d-none d-md-block">
                    <h3 class="watermark pb-5">Match Maker</h3>
                  </div>
                </div>
                <ng-template #elseImg>
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS3gBEL8xB2bqkGznLEE42ag_IQhAbckmKS7Q&usqp=CAU"
                    class="card card-img-top rounded img-fluid" alt="No images available">
                  <div class="carousel-caption d-none d-md-block">
                    <h3 class="watermark pb-5">Match Maker</h3>
                  </div>
                </ng-template>
                <div class="carousel-item" *ngIf="profile.img_data_2">
                  <img src={{profile.img_data_2}} class="card card-img-top rounded img-fluid" alt="No image available">
                  <div class="carousel-caption d-none d-md-block">
                    <h3 class="watermark pb-5">Match Maker</h3>
                  </div>
                </div>
                <div class="carousel-item" *ngIf="profile.img_data_3">
                  <img src={{profile.img_data_3}} class="card card-img-top rounded img-fluid"
                    alt="No image 3 available">
                  <div class="carousel-caption d-none d-md-block">
                    <h3 class="watermark pb-5">Match Maker</h3>
                  </div>
                </div>
              </div>
              <a href="#slider" class="carousel-control-prev" data-slide="prev"
                *ngIf="profile.img_data_1 && profile.img_data_2">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a href="#slider" class="carousel-control-next" data-slide="next"
                *ngIf="profile.img_data_1 && profile.img_data_2">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>

          <div class="row col-9 mt-4 mx-auto">
            <label class="col-form-label pt-0" for="id">
              <h5 class="text-secondary">Id</h5>
            </label>
            <label class="col-form-label pt-0 col-6 ml-auto col-6" for="id" *ngIf="profile.profile_id">{{ profile?.profile_id
              }}</label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="name">
              <h5 class="text-secondary">Full name</h5>
            </label>
            <label class="col-form-label pt-0 col-6 ml-auto col-6" for="name" *ngIf="profile.name else elseNil">{{
              profile['name'] | titlecase}}</label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="dob">
              <h5 class="text-secondary">DOB</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="dob"><label *ngIf="profile.dob; else elseNil">{{
                profile['dob'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="birth_place">
              <h5 class="text-secondary">Birth Place</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="birth_place"><label
                *ngIf="profile.birth_place; else elseNil">{{ profile['birth_place'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="religion">
              <h5 class="text-secondary">Religion</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="religion"><label *ngIf="profile.religion; else elseNil">{{
                profile['religion'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="caste">
              <h5 class="text-secondary">Caste</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="caste"><label *ngIf="profile.caste; else elseNil">{{
                profile['caste'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="star">
              <h5 class="text-secondary">Star</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="star"><label *ngIf="profile.star; else elseNil">{{
                profile['star'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="rasi">
              <h5 class="text-secondary">Rasi</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="rasi"><label *ngIf="profile.rasi; else elseNil">{{
                profile['rasi'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="qualification">
              <h5 class="text-secondary">Qualification</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="qualification"><label
                *ngIf="profile.qualification else elseNil">{{ profile['qualification'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="job">
              <h5 class="text-secondary">Job</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="job"><label *ngIf="profile.job; else elseNil">{{
                profile['job'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="income">
              <h5 class="text-secondary">Income</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="income"><label *ngIf="profile.income; else elseNil">{{
                profile['income'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="height">
              <h5 class="text-secondary">Height(cm)</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="height"><label *ngIf="profile.dob; else elseNil">{{
                profile['height'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="mother_tongue">
              <h5 class="text-secondary">Mother Tongue</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="mother_tongue"><label
                *ngIf="profile.mother_tongue; else elseNil">{{ profile['mother_tongue'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="known_language">
              <h5 class="text-secondary">Known language</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="known_language"><label
                *ngIf="profile.known_language; else elseNil">{{ profile['known_language'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0">
              <h5 class="text-secondary">Marital status</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6"><label *ngIf="profile.marital_status; else elseNil">{{
                profile['marital_status'] | titlecase}}</label></label>
          </div>

        </fieldset>
      </div>
    </div>

  </div>
</section>

<section class="family">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <fieldset class="border-custom card rounded mt-5">
          <h2 class="text-center card-header text-white">Family details</h2>

          <div class="row col-9 mt-5 mx-auto">
            <label class="col-form-label pt-0" for="father_name">
              <h5 class="text-secondary">Father name</h5>
            </label>
            <label class="col-form-label pt-0 col-6 ml-auto col-6" for="father_name"><label
                *ngIf="profile.father_name; else elseNil">{{ profile['father_name'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="mother_name">
              <h5 class="text-secondary">Mother name</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="mother_name"><label
                *ngIf="profile.mother_name; else elseNil">{{ profile['mother_name'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="contact_main">
              <h5 class="text-secondary">Family contact</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="contact">

              <a href="tel:profile.contact" class="text-decoration-none">{{
                profile['contact'] | titlecase}}</a>

              <!-- <label *ngIf="this.isLogged && userProfile.paid">
                <a *ngIf="!this.clicked" class="btn btn-warning text-white" (click)="viewContact()">View contact</a>
                <a *ngIf="this.clicked" href="tel:profile.contact_main" class="text-decoration-none">{{
                  profile['contact_main'] | titlecase}}</a>
              </label> -->

              <!-- <label *ngIf="this.isLogged && !userProfile.paid">
                <a *ngIf="!this.clicked" class="btn btn-warning text-white" (click)="viewContact()">View contact</a>
                <a *ngIf="this.clicked" routerLink='/payments'
                  class="text-decoration-none btn btn-success text-white">Payment details</a>
              </label>

              <label *ngIf="!this.isLogged">
                <a class="btn btn-warning text-white" data-target="#login-modal" data-toggle="modal">View contact</a>
              </label> -->
            </label> 
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="sibiling_count">
              <h5 class="text-secondary">Sibiling count</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="sibiling_count"><label
                *ngIf="profile.sibiling_count; else elseNil">{{ profile['sibiling_count'] }}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="family_status">
              <h5 class="text-secondary">Family status</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="family_status"><label
                *ngIf="profile.family_status; else elseNil">{{ profile['family_status'] | titlecase}}</label></label>
          </div>
        </fieldset>
      </div>
    </div>

  </div>
</section>

<section class="partner expectation">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <fieldset class="border-custom card rounded mt-5">
          <h2 class="text-center card-header text-white">Partner Expectations</h2>

          <div class="row col-9 mt-5 mx-auto">
            <label class="col-form-label pt-0" for="expected_qualification">
              <h5 class="text-secondary">Qualification</h5>
            </label>
            <label class="col-form-label pt-0 col-6 ml-auto col-6" for="expected_qualification"><label
                *ngIf="profile.expected_qualification; else elseNil">{{ profile['expected_qualification'] |
                titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="expected_place">
              <h5 class="text-secondary">Settle Location</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="expected_place"><label
                *ngIf="profile.expected_place; else elseNil">{{ profile['expected_place'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="expected_income">
              <h5 class="text-secondary">Income</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="expected_income"><label
                *ngIf="profile.expected_income; else elseNil">{{ profile['expected_income'] |
                titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="expected_caste">
              <h5 class="text-secondary">Caste</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="expected_caste"><label
                *ngIf="profile.expected_caste; else elseNil">{{ profile['expected_caste'] | titlecase}}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="expected_age_difference">
              <h5 class="text-secondary">Age difference</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="expected_age_difference"><label
                *ngIf="profile.expected_age_difference; else elseNil">{{ profile['expected_age_difference'] | titlecase
                }}</label></label>
          </div>

          <div class="row col-9 mx-auto">
            <label class="col-form-label pt-0" for="expected_height">
              <h5 class="text-secondary">Height(ft)</h5>
            </label>
            <label class="col-form-label pt-0 ml-auto col-6" for="expected_height"><label
                *ngIf="profile.expected_height; else elseNil">{{ profile['expected_height'] }} cm</label></label>
          </div>

        </fieldset>
      </div>
    </div>

  </div>
</section>

<ng-template #elseNil><small class="text-secondary">&mdash;</small></ng-template>
<ng-template #elseNone><small></small></ng-template>

<div class="p-5"></div>